<table class="map">
  <% @map.map_tiles.each do |row| %>
    <tr>
      <% row.each do |tile| %>
        <td style="background:<%= tile.background %>">
          <%= tile.id %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
